<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>

    <h1>test test est test test Test</h1>

    <%- include('../partials/footer') %>

</body>
</html>