<footer>
    <div>
        <span class="span-footer">Created July, 2022. Node-Express Image Board. 
            <a href="https://github.com/Justin-Ja/ImageBoardCRUD" id="footerLink">
            More Info</a>
        </span>
    </div>
</footer>