<nav>
    <a class="nav-link" href="/"><b>Home</b></a>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a class="nav-link" href="/images"><b>Explore Images</b></a>
            </li>
            <li class="nav-list-item">
                <a class="nav-link" href="/images/new"><b>Add an Image</b></a>
            </li>
        </ul>
</nav>