<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <!-- Most CSS is the same as the home page, just some tweaks with the headers/positioning -->

    <div id="div-404-outer">

        <div class="div-404">
            <h1 class="header-404">ERROR 404: PAGE NOT FOUND</h1>
            <h3 class="header-404">Sorry, we can't find the page you're looking for.</h3>
            <h3 class="header-404">Head back home via the button below.</h3>
        </div>

        <div class="div-404">
            <a href="/" class="link">Return Home</a>
        </div>
        
    </div>

    <%- include('partials/footer') %>

</body>
</html>