
/* COLORS ARE TEMP, WILL BE UPDATED AT A LATER DATE */

/* Root html objects */
body{
    background-color: rgb(200, 200, 200);
}

h1{
    color: rgb(25, 26, 25);
}

/* Will be changed later, testing ideas for now */
form{
    background-color: greenyellow;
}

/* Navbar styles ----------------------------------- */
nav{
    background-color: rgb(40, 40, 40);
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
    margin: -0.5em;
}

.nav-list{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-list, .nav-list-item{
    display: inline-flex;
    margin: 0;
    padding-left: 1em;

}

.nav-link{
    border: 1px solid rgb(215, 235, 255);    
    border-radius: 10px;
    background-color: rgb(3, 6, 211);
    color: rgb(215, 235, 255);
    text-decoration: none; 
    display: inline-block;
    padding: 0.5em 1em; 
    transition: background-color 150ms ease-in;
}

.nav-link:hover{
    background-color: rgb(44, 46, 212);
}
.nav-list :last-child .nav-link {
    margin-left: 1em;
}


/* Footer styles ---------------------------------------*/
footer{
    display: block;
    position: fixed;
    padding: 10px 10px 0px 10px;
    margin: -0.5em;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(40, 40, 40);
    
}

.span-footer{
    color:  rgb(215, 235, 255);
}

#footerLink{
    color: rgb(0, 139, 252);
    text-decoration: underline;
}

/* Home page styles ------------------------------------*/

#div-home-outer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1em 2em;
}

#h1-home, .div-home{
    align-self: center;
}

.link{
    border: 2px solid rgb(0, 0, 0);    
    border-radius: 10px;
    background-color: rgb(3, 6, 211);
    color: rgb(215, 235, 255);
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.25em 0.5em;
    text-decoration: none; 
    transition: background-color 150ms ease-in;
}

.link:hover{
    background-color: rgb(44, 46, 212);
}

/* Index page styles -----------------------------------*/
.button-inspect{
    background-color: royalblue;
    border: 2px solid rgb(0, 255, 42);
    border-radius: 5px;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-decoration: none;
    transition: background-color 150ms ease-in;
}

.button-inspect:hover{
    background-color: aqua;
}

/* New post page styles --------------------------------*/

/* Edit page styles styles -----------------------------*/
