/* Root html objects */
body{
    background-color: rgb(210, 210, 210);
    font-family: Roboto, sans-serif;
}

h1, h2, h3{
    text-align: center;
}

nav{
    background-color: rgb(6, 40, 61);
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
    margin: -0.5em;
}

/* Navbar styles ----------------------------------- */
.nav-list{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-list, .nav-list-item{
    display: inline-flex;
    margin: 0;
    padding-left: 1em;

}

.nav-link{
    border: 1px solid rgb(71, 181, 255);    
    border-radius: 10px;
    background-color: rgb(19, 99, 223);
    color: black;
    text-decoration: none; 
    display: inline-block;
    padding: 0.5em 1em; 
    transition: background-color 150ms ease-in;
}

.nav-link:hover{
    background-color: rgb(71, 181, 255);
}
.nav-list :last-child .nav-link {
    margin-left: 1em;
}


/* Footer styles ---------------------------------------*/
footer{
    display: block;
    position: fixed;
    padding: 10px 10px 0px 10px;
    margin: -0.5em;
    bottom: 0;
    width: 99.9%;
    height: 40px;
    background-color: rgb(6, 40, 61);
}

.span-footer{
    color:  rgb(215, 235, 255);
}

#footerLink{
    color: rgb(71, 181, 255);
}

/* Home page styles ------------------------------------*/
/* Ok for now, could use some work with img divs to make it look better */
#div-home-outer{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    padding: 1em 2em;
    
}

#div-home-inner{
    margin: 1em 2em;
    padding: 0.5em 1em;
}

#div-home-link{
    display: flex;
    justify-content: center;
    padding: 0.25em;
}

#h1-home{
    padding: 0.5em;
    margin: auto;
}

.img-single{
    border: 2px solid black;
    border-radius: 1em;
    width: 100%;
    height: 90%;
}

.link{
    border: 2px solid rgb(19, 99, 223);
    border-radius: 10px;
    background-color: rgb(6, 40, 61);
    color: rgb(223, 246, 255);
    display: inline-block;
    text-align: center;
    padding: 0.5em 1em;
    margin: 0.25em 0.5em;
    text-decoration: none; 
    transition: background-color 150ms ease-in;
}

.link:hover, .button-inspect:hover{
    background-color: rgb(19, 99, 223);
}

/* 404 page styles -----------------------------------*/
#div-404-outer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 50vh;
}

.div-404{
    align-self: center;
    padding: 0.5em;
    margin: 0.5em;
}

.header-404{
    width: 90%;
    padding: 0.5em 1em;
    margin: 0.5em;
}

/* Button styles -----------------------------------*/
.button-inspect{
    border: 2px solid rgb(19, 99, 223);
    border-radius: 5px;
    background-color: rgb(6, 40, 61);
    color: rgb(223, 246, 255);
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    transition: background-color 150ms ease-in;
}

.button-cancel{
    border: 2px solid rgb(165, 7, 5);
    border-radius: 5px;
    background-color: rgb(99, 6, 6);
    color: rgb(223, 246, 255);
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-decoration: none;
    transition: background-color 150ms ease-in;
}

.button-cancel:hover{
    background-color: rgb(165, 7, 5);
}

.big-text{
    font-size: 18px;
}

/* Index page styles -----------------------------------*/
.div-outer{
    display: grid;
    gap: 0.5em;
    grid-auto-flow: row;

    text-align: center;
}

@media(min-width: 1000px) {
    .div-outer{ 
        grid-template-columns: repeat(2, 1fr);
    }
  }

.div-inner{
    padding: 1em;
    margin: 0.25em;
}

.img-index{
    border: 2px solid black;
    border-radius: 20px;
    width: 700px;
    height: 700px;
    margin: 0.5em 0 0 0;
}

/* Inspect page  styles -----------------------------*/
#div-inspect-outer{
    display: flex;
    justify-content: flex-start;
    
}

.img-inspect{
    border: 2px solid black;
    border-radius: 20px;
    object-fit: contain;
    max-height: 700px;
    margin: 0.5em 2em 1em 0.5em
}

.div-inspect{
    font-size: 20px;
}


/* New post AND edit page styles --------------------------------*/
/* could use some more work, column looks good on smaller screens not on fullscreen*/
/* Some @media would fix this, would have to make the form look good in rows though... */
#form-full{
    display: flex;
    flex-direction: column;
}

.section-form{
    text-align: center;
    padding: 0.5em 0.25em;
    margin: auto;
}


.input-form, .label-form{
    padding: 0.25em;
    margin: 0.5em;
}

#div-form-cancel{
    display: flex;
    justify-content: center;
}

#new-post-desc, .div-edit{
    text-align: center;
}
